init-authorxi-.name=Jan Florian Dietrich
init-author-email=jfd@daenen4.de
init-author-url=http://www.daenen4.de/
init-license="MIT"
init-version="0.0.1"
email=jfd@daenen4.de
registry=https://registry.npmjs.org/
